.BoletaUnica-candidato {
  width: 35wv;
  height: 35vw;
  padding: 5vw;
}

.BoletaUnica-titulo {
  font-size: 26vw;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  display: block;
  font-weight: bold;
  color: lightgrey;
  padding: 2vw 0;
}

.BoletaUnica-candidatos-container {
  padding: 2vw 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.BoletaUnica-container {
  background: rgb(18,21,25);
  background: linear-gradient(0deg, rgba(18,21,25,1) 0%, rgba(9,139,212,1) 100%);
}

.BoletaUnica-intro {
  padding: 1vw 5vw;
  text-align: center;
  color: whitesmoke;
}

.BoletaUnica-footer {
  color: lightgrey;
  text-align: center;
  font-size: 4vw;
  padding: 1vw;
}