.Resultados-container {
  background: gray;
  background: linear-gradient(0deg, rgb(161, 161, 161) 0%, gray 40%);
  width: 100vw;
  min-height: 100vh;
  padding-top: 8vw;
  overflow: hidden;
  color: whitesmoke;
}

.Resultados-titulo {
  font-size: 9vw;
  padding: 2vw 0 3vw 0;
  text-align: center;
}

.Resultados-subtitulo {
  font-size: 7vw;
  text-align: center;
}

.Resultados-divider {
  border-bottom: solid whitesmoke 1px;
  width: 80vw;
  margin: 8vw auto;
}

.Resultados-text {
  padding: 15vw 5vw;
  text-align: center;
}

.Resultados-candidato-container {
  padding: 4vw 0 10vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Resultados-candidato {
  width: 75vw;
}

.Resultados-resultados {
  padding: 0 5vw;
  text-align: center;
}
